<li class="short_url" id="short_url-<%= short_url.id %>">
  <h3><%= link_to short_url.url_alias, short_url_path(short_url) %></h3>
  <p>Redirects to <%= link_to short_url.redirect, short_url.redirect %>.</p>
  <ul class="short_url--edit menu">
    <li>
      <%= link_to 'Edit',   edit_short_url_path(short_url),   class: 'button' %>
    </li>
    <li>
      <%= link_to 'Delete', [:delete, short_url], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</li>
