<% provide(:title, 'Delete user') %>

<h1>Delete <%= @user.name %></h1>

<%= form_for @user, html: {method: :delete} do |f| %>
  <h2>Are you sure you want to delete <%= @user.name %>?</h2>
  <p><%= f.submit "Destroy", class: 'button alert' %> or <%= link_to "Cancel", users_path, class: 'button' %></p>
<% end %>

