<% provide(:title, 'New User') %>

<div class="column small-8 small-offset-2 user-form">
  <h2>Creating a new user</h2>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %> 

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit 'Create this user', class: 'button' %>
  <% end %>
</div><!-- end .column -->

