<fieldset class="fieldset">
  <legend>Search existing short URLs</legend>

  <%= form_tag(search_short_urls_path, method: 'get') do %>
    <span>Find a short URL by its slug</span>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :search_type, value: 'search' %>
    <%= submit_tag 'Find short URL', class: 'button' %>
  <% end %>

  <%= form_tag(search_short_urls_path, method: 'get') do %>
    <span>Find short URLs pointin to a specific address (reverse search)</span>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :search_type, value: 'reverse_search' %>
    <%= submit_tag 'Find short URLs', class: 'button' %>
  <% end %>

  <% if @short_urls.present? %>
    <%= render @short_urls %>
  <% else %>
    <p>No short URLs matching your search were found.</p>
  <% end %>
</fieldset>
