<header class="top-bar">
  <div class="wrap">
    <section class="top-bar-left">
      
      <h1><%= link_to(image_tag('tea-200.png', alt: 'a cup of tea', class: 'logo') + '  Url Grey', root_or_admin_url, id: 'logo') %></h1>
    </section>
    <div class="top-bar-right">
      <nav>
        <ul class="menu site_nav">
          <% if logged_in? %>
            <li><%= link_to 'Short URLs', short_urls_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Users',     users_path %></li>
            <% end %>
            <li><%= link_to 'My Profile',  user_path(current_user) %></li>
            <li><%= link_to 'Log out', logout_path, controller: :sessions, action: :delete, method: :delete, data: { confirm: 'Log out?' } %></li>
          <% else %>
            <li><%= link_to 'Log in',      login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div><!-- end .wrap (around header) -->
</header>
