<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= render 'application/favicon' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrap">
      <% unless flash.empty? %>
        <section id="application-alerts" class="row">
          <div class="column small-6 small-offset-3">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "callout #{message_type}") %>
            <% end %>
          </div>
        </section>
      <% end %>
      <main class="row">
        <%= yield %>
      </main><!-- end .row -->
    </div><!-- end .wrap (around main) -->
    <% if Rails.env.development? %>
      <div class="row">
        <div class="column small-10 small-offset-1">
          <%= debug(params) %>
        </div>
      </div><!-- end .row (for debug) -->
    <% end %>
  </body>
</html>